[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
tensorflow = "*"
seaborn = "*"
matplotlib = "*"
ipykernel = "*"
sklearn = "*"
black = "*"
keras = "*"
h5py = {version = "*", platform_system = "== 'Darwin'"}
tensorflow-macos = {version = "*", platform_system = "== 'Darwin'"}
tensorflow-metal = {version = "*", platform_system = "== 'Darwin'"}
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
